{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="top-shadow"></div>
    
    <div class="slider-item" style="background-image: url({{banner_image.image.url}});">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-9 text-center col-sm-12 element-animate">
            <h1 class="mb-4"><span>{{banner_heading.heading}}</span></h1>
            <div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="{{banner_video.video}}" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>
            <span>Watch Video</span>
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="section">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-4 order-lg-3">
            <div class="scaling-image h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url({{middle_image.image.url}});"></div></div></div>
          </div>

          <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-{{category.0.icon_name}} display-4 text-primary"></span>
                <h3>{{category.0.heading}} </h3>
                <p>{{category.0.description|truncatechars:200}}</p>
                <div class="yoga__traning__btn">
                  <a href="{% url 'content' category.0.pk %}">View More..</a>
                </div>  
              </div>
            </div>

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-lotus display-4 text-primary"></span>
                <h3>{{category.1.heading}}</h3>
                <p>{{category.1.description|truncatechars:200}}</p>
                <div class="yoga__traning__btn">
                  <a href="{% url 'content' category.1.pk %}">View More..</a>
                </div> 
              </div>
            </div>

          </div>
          
          <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-{{category.2.icon_name}} display-4 text-primary"></span>
                <h3>{{category.2.heading}}</h3>
                <p>{{category.2.description|truncatechars:200}}</p>
                <div class="yoga__traning__btn">
                  <a href="{% url 'content' category.2.pk %}">View More..</a>
                </div> 
              </div>
            </div>

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-{{ category.3.icon_name}} display-4 text-primary"></span>
                <h3>{{category.3.heading}}</h3>
                <p>{{category.3.description|truncatechars:200}}</p>
                <div class="yoga__traning__btn">
                  <a href="{% url 'content' category.3.pk %}">View More..</a>
                </div> 
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    
    <div class="section element-animate">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-7 order-md-2">
            <div class="scaling-image"><div class="frame"><img src="{{ yoga_benefits.image.url }}" alt="Image" class="img-fluid"></div></div>
          </div>
          <div class="col-md-5 pr-md-5 mb-5">
            <div class="block-41">
              <h2 class="block-41-heading mb-5">{{yoga_benefits.heading}}</h2>
              <div class="block-41-text">
                <p>{{yoga_benefits.description|truncatechars:200}}</p>
                <div class="yoga__traning__btn">
                  <a href="{% url 'yogaBenefits'  %}">View More..</a>
                </div> 
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="section element-animate bg-light">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-7 order-md-1">
            <div class="scaling-image"><div class="frame"><img src="{{more_yoga_benefits.image.url}}" alt="Image" class="img-fluid"></div></div>
          </div>
          <div class="col-md-5 pl-md-5 mb-5 order-md-2">
            <div class="block-41">
              <h2 class="block-41-heading mb-5">{{more_yoga_benefits.heading}}</h2>
              <div class="block-41-text">
                <p>{{more_yoga_benefits.description|truncatechars:200}}</p>
                <div class="yoga__traning__btn">
                  <a href="{% url 'moreYoga' %}">View More..</a>  
                </div>
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    

    <div class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Classes provided</h2>
            <p class="mb-5 lead">{{about_classes.description}}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row no-gutters">
          {% for item in class_details%}
          <div class="col-md-6 col-lg-6 element-animate">
            <a href="{% url 'classes' %}" class="link-thumbnail">
              <h3>{{item.heading}}</h3>
              <span class="ion-plus icon"></span>
              <img src="{{item.image.url}}" alt="Image" class="img-fluid">
            </a>
          </div>
          {% endfor %}
                  </div>
        
      </div>
    </div>
    <!-- END section -->

    <div class="section bg-light block-11">
      <div class="container"> 
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Testimonial</h2>
          </div>
        </div>
        <div class="nonloop-block-11 owl-carousel">
          {% for item in testomonial %}
          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="{{item.image.url}}" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">{{item.name}}</h2>
                    <span class="meta">{{item.posted_by}}</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; {{item.description}} &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>
            {% endfor %}
          
        </div>
      </div>
    </div>
    <!-- END .block-4 -->
    </div>


    <div class="section bg-primary">
      <div class="container">
          
        <div class="row">
            {% for item in features %}
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-{{item.icon_name}} text-white"></span></div>
              <div class="media-body">
                <h3 class="heading text-white">{{item.heading}}</h3>
                <p class="text-white">{{item.description}}</p>
              </div>
            </div>
          </div>
            {% endfor %}
              
          
        </div>
      </div>
    </div>
    <!-- END section -->

    <div class="section blog">
      <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Our Blog</h2>
            <p class="mb-5 lead">{{blog.description}}</p>
          </div>
        </div>

        <div class="row">
          {% for item in blog_single %}
          <div class="col-md-6">

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="{% url 'single' item.pk %}" class="mr-5"><img src="{{item.image.url}}" alt="Image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">{{item.date}}</span>
                <h3 class="mt-2 text-black"><a href="{% url 'single' item.pk %}">{{item.heading}}</a></h3>
                <p>{{item.description|linebreaks|truncatechars:200}}</p>
                <p><a href="{% url 'single' item.pk %}" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
              </div>
            </div>
            </div>
        
            {% endfor %}


      </div>
          
          
          
          </div>
        </div>
      </div>
    </div>

    {% endblock %}